body {
	background-color: white;
}

#content {
	width: 800px;
	margin: auto;

	border: 2px solid darkgray;
	border-bottom: none;

	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

#content h1 {
	text-align: center;
}

.pattern table {
	background-color: lightgray;
	border: 2px solid black;
}

.pattern tr {
	height: 28px;
}

.pattern td {
	border: 2px solid darkgray;
	width: 20px;
	text-align: center;
	font-weight: bold;
}

.pattern .value-1 {
	color: blue;
}

.pattern .value-2 {
	color: green;
}

.pattern .value-3 {
	color: red;
}

.pattern .value-4 {
	color: darkblue;
}

.pattern .value-5 {
	color: darkred;
}

.pattern .value-6 {
	color: darkred;
}

.pattern .value-7 {
	color: black;
}

.pattern .value-8 {
	color: darkred;
}

.pattern .value-s {
	background-color: green;
}

.pattern .value-b {
	background-color: red;
}

.pattern .value-m {
	background-color: orange;
}